<wishlistheader></wishlistheader>
<div class="row">
    <div class="container col-lg-12">
        <h1 class="text-center">Welcome To Your WishList</h1>
        <ul class="list-inline text-center">
            <li>
                <a href="/#/wishes" class="btn btn-default btn-lg">View Wishlist</a>
            </li>
            <li>
                <a href="/#/wish" class="btn btn-default btn-lg">Add A New Wish</a>
            </li>
            <li>
                <a href="/#/user" class="btn btn-default btn-lg">View Your Profile</a>
            </li>
            <li>
                <a href="/#/users" class="btn btn-default btn-lg">View All Users</a>
            </li>
        </ul>
    </div>
</div>