<wishlistheader></wishlistheader>
<div class="row" ng-controller="WishesController">
    <div class="col-lg-12">
        <h1>All Wishes</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-default" ng-repeat="wish in wishes track by $index">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-lg-3 pull-left">
                <img src="{{wish.url}}" class="pull-left" style="max-height:100px;max-width:100px;">
            </div>
            <div class="col-lg-6">
                <span>{{wish.title}}</span>
                <br>
                <span>{{wish.description}}</span>
            </div>
            <div class="col-lg-3 pull-right">
                <span class="btn btn-default">Edit Wishlist</span>
                <span class="btn btn-default">Delete Wishlist</span>
            </div>
        </div>
    </div>
</div>